.container {
  width: 100%;
  box-shadow: gray 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.image {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .container {
    height: auto;
  }
}
